.App {
  text-align: center;
}

body {
  background-image: url(./assets/imgback.jpg);
}
.container {
  display: flex;
  justify-content: center;
}

.title {
  color: whitesmoke;
  font-family: 'Cinzel', serif;
}
.separation {
  opacity: 0.22;
}
.weatherBox {
  border: 1px solid rgba(247, 242, 242, 0.3);
  margin-top: 50px;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  color: whitesmoke;
 
}
.weatherBox1 {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(247, 242, 242, 0.3);
  margin-top: 50px;
  width: 100px;
  height: 150px;
  border-radius: 10px;
  color: whitesmoke;
}
.inputSearch {
  background: rgba(255,255,255,0.4);
  border: none;
  position: relative;
  display: block;
  outline: none;
  width: 480px;
  height: 25px;
  top: 20px;
  margin: 0 auto;
  padding: 10px;
  color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  border-radius: 5px;
  
}

.conditions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  background: rgba(255,255,255,0.2);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}
.detailsBox {
  font-size: 25px;
  font-family: 'Cinzel', serif;
  
  
  }
.forecastDays {
  display: flex;
  flex-direction: flex-start;
 
  flex-wrap: wrap;
  
}

.containerSelect {
 
  
 
}