.App {
  text-align: center;
}

body {
  background-image: url(./assets/imgback.jpg);
}
.container {
  display: flex;
  justify-content: center;
}

.title {
  color: whitesmoke;
  font-family: 'Cinzel', serif;
}
.separation {
  opacity: 0.22;
}
.weatherBox {
  border: 1px solid rgba(247, 242, 242, 0.3);
  margin-top: 50px;
  width: 500px;
  height: 600px;
  border-radius: 10px;
  color: whitesmoke;
}